<header>
    <div class="container">
        <h1>View Post</h1>
    </div>
</header>

<div class="container">
    <div class="post-card">
        <p class="cat" style="background-color: <%= postCat.color %>"><%= postCat.titre %></p>
        <h3><%= post.titre %></h3>
        <img src="<%= post.picture %>" alt="Post Image">
        <p><%= post.content %></p>
    </div>
</div>

